PORT=

DATABASE_URL=database_url
DB_USER=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=



DEVELOPMENT_DB=dev_db_url

PRODUCTION_DB=prod_db_url

JWT_SECRET=jwt_secret

REDIS_URL=redis_url
REDIS_PASSWORD=
REDIS_PORT=


RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_PORT=
RABBITMQ_URL=rabbitmq_url


DEBUG_PORT=


EMAIL_SERVICE=
EMAIL_ADDRESS=


EMAIL_PORT=
EMAIL_HOST=
EMAL_HOST_ADDRESS=
EMAIL_SMTP_KEY=smtp_key

PAYSTACK_TEST_SECRET_KEY=paystack_secret_key
PAYSTACK_TEST_PUBLIC_KEY=paystsck_publix_key

NODE_ENV=

HOST_URL=prod_host_url

BACKBLAZE_S3_APP_KEY=backblazeb2_app_key
BACKBLAZE_S3_APP_KEY_ID=backblazeb2_app_key
BACKBLAZE_ENDPOINT=backblaze_endpoint
BACKBLAZE_REGION=backblaze_region